@font-face {
    font-family: "Inter";
    src: 
        url("../fonts/Inter/ttf/Inter_18pt-ExtraLight.ttf") format("truetype"),
        url("../fonts/Inter/woff/Inter_18pt-ExtraLight.woff") format("woff"),
        url("../fonts/Inter/woff2/Inter_18pt-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: 
        url("../fonts/Inter/ttf/Inter_18pt-Light.ttf") format("truetype"),
        url("../fonts/Inter/woff/Inter_18pt-Light.woff") format("woff"),
        url("../fonts/Inter/woff2/Inter_18pt-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: 
        url("../fonts/Inter/ttf/Inter_18pt-Regular.ttf") format("truetype"),
        url("../fonts/Inter/woff/Inter_18pt-Regular.woff") format("woff"),
        url("../fonts/Inter/woff2/Inter_18pt-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: 
        url("../fonts/Inter/ttf/Inter_18pt-Medium.ttf") format("truetype"),
        url("../fonts/Inter/woff/Inter_18pt-Medium.woff") format("woff"),
        url("../fonts/Inter/woff2/Inter_18pt-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: 
        url("../fonts/Inter/ttf/Inter_18pt-MediumItalic.ttf") format("truetype"),
        url("../fonts/Inter/woff/Inter_18pt-MediumItalic.woff") format("woff"),
        url("../fonts/Inter/woff2/Inter_18pt-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: 
        url("../fonts/Inter/ttf/Inter_18pt-SemiBold.ttf") format("truetype"),
        url("../fonts/Inter/woff/Inter_18pt-SemiBold.woff") format("woff"),
        url("../fonts/Inter/woff2/Inter_18pt-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: 
        url("../fonts/Inter/ttf/Inter_18pt-SemiBoldItalic.ttf") format("truetype"),
        url("../fonts/Inter/woff/Inter_18pt-SemiBoldItalic.woff") format("woff"),
        url("../fonts/Inter/woff2/Inter_18pt-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: 
        url("../fonts/Inter/ttf/Inter_18pt-Bold.ttf") format("truetype"),
        url("../fonts/Inter/woff/Inter_18pt-Bold.woff") format("woff"),
        url("../fonts/Inter/woff2/Inter_18pt-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: 
        url("../fonts/Inter/ttf/Inter_18pt-BoldItalic.ttf") format("truetype"),
        url("../fonts/Inter/woff/Inter_18pt-BoldItalic.woff") format("woff"),
        url("../fonts/Inter/woff2/Inter_18pt-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: 
        url("../fonts/Inter/ttf/Inter_18pt-Black.ttf") format("truetype"),
        url("../fonts/Inter/woff/Inter_18pt-Black.woff") format("woff"),
        url("../fonts/Inter/woff2/Inter_18pt-Black.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}
