.footer {
    display: flex;
    gap: 2px;
}

.footer-left, .footer-right {
    width: 50%;
    height: auto;
    border-radius: var(--border-radius-medium);
    color: var(--text-color-white);
    padding: 42px 49px;
}

.footer-left {
    overflow: hidden;
    position: relative;
    height: 681px;
    background-color: var(--background-color-blue-ultra-dark);
}

.footer-left h2 {
    font-size: var(--desktop-font-size-for-title-h2);
    padding-bottom: 20px;
    font-weight: 600;
    width: 432px;
    line-height: 72px;
}

.footer-left .description {
    padding-bottom: 49px;
}

.footer-left .description p {
    width: 430px;
    font-size: 19px;
    line-height: 28px;
}

.footer-left .btn-select-trainer {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.245);
    color: var(--text-color-white);
    padding: 20px 35px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: var(--border-radius-low);
    transition: var(--transition);
}

.footer-left .btn-select-trainer:active {
    transform: scale(90%);
}

.light-circle {
    background-color: #1C74EB;
    width: 512px;
    height: 512px;
    position: absolute;
    bottom: 0;
    right: 0;
    filter: blur(120px);
}

.commerce {
    position: absolute;
    bottom: 42px;
}

.footer-right {
    position: relative;
    background-color: var(--background-color-white);
    color: var(--text-color-black);
}

.footer-menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 37px;
}

.footer-menu-col .footer-menu-col-name {
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 15px;
}

.footer-menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-menu ul li a {
    font-size: 17px;
    color: var(--text-color-gray-500);
    transition: var(--transition)
}

.footer-menu ul li:hover a {
    color: var(--text-color-blue);
}

.footer-info-number .number {
    display: flex;
    align-items: center;
    gap: 18px;
}

.desc {
    width: 450px;
    line-height: 24px;
    position: absolute;
    bottom: 42px;
}

.footer-info-number .number .number-text .number-phone {
    font-size: 19px;
    font-weight: 600;
    color: var(--text-color-blue);
}
